/* html, */
body {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0 !important;
}

.grid-head {
    background-color: bisque;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

.grid-cell {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 5px;
}

.grid-container {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(7, 135px);
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: .3rem;
}

.sidebar {
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 1rem;
    width: 200px;
    height: 93vh;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-left: none;
        border-top: 1px solid #dee2e6;
    }
}

@media (max-width: 240px) {
    body {
        font-size: xx-small;
    }

    .grid-container {
        gap: 0;
    }

    .main-content {
        padding: .1rem;
    }
}